@media (max-width: 1000px) {
  .content {
    nav {
      .left {
        p {
          font-size: 15px !important;
        }
      }
      .right {
        button {
          display: none;
        }
      }
    }
    .middle {
      display: flex !important;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
      padding: 20px;
      .semi_circ {
        display: none;
      }
      .heading {
        .main {
          font-size: 23px !important;
        }
        .sub {
          font-size: 15px !important;
        }
      }
      svg {
        display: none;
      }
    }
  }
}
